* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    }
    
    .wrapper {
        margin: 0 auto;
    }
    
    .heading {
        margin-top: 107px;
    }
    
    .heading__h {
        font-size: 36px;
        text-align: center;
        color: #212121;
    }
    
    .rectangle {
        width: 64px;
        height: 2px;
        margin: 30px auto;
        background-color: orange;
    }
    
    .paragraph {
        font-size: 14px;
        text-align: center;
        color: #86878B;
    }
    
    .content__width {
        margin: 0 auto;
        width: 1125px;
    }
    
    .container {
        float: left;;
        width: 350px;
        height: 197px;
        margin: 80px 32px 104px 0;
    }

    .container__last {
        margin-right: 0;
    }

    .circle {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        border: 1px solid orange;
        border-radius: 50px;
        background-image: url("key.png");
        background-repeat: no-repeat;
        background-position: center; 
    }
    
    .circle__1 {
        background-image: url("lamp.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .circle__2 {
        background-image: url("key.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .heading__hh {
        padding: 29px 0;
        font-size: 20px;
        text-align: center;
    }
